exemples.iml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/uiDesigner.xml

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Mateus\IdeaProjects\exemples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Formats
*.class
*.jar
*.war

